<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 pull-right" style="direction: rtl;">
    <p>تأكيد الحساب</p>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  		<%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :class => "form-control validate text-right", :placeholder => "البريد الإلكتروني" %>
      </div>

      <div class="actions pull-right">
        <%= f.submit "إعادة إرسال تعليمات تأكيد الحساب", :class => "btn btn-inverse" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
