<div class="row">
  <div class="panel panel-default" style="direction: rtl;">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <div class="panel-heading">تأكيد الحساب</div>
      <div class="panel-body">
        <%= devise_error_messages! %>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 form-group pull-right">
              <label>البريد الإلكتروني</label>
              <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :class => "form-control validate text-right" %>
            </div>
          </div>

          <div class="actions pull-right">
            <%= f.submit "إعادة إرسال تعليمات تأكيد الحساب", :class => "btn" %>
          </div>
          <% end %>
          <%= render "devise/shared/links" %>
      </div>
    </div>
</div>
