<div class="container text-right">
  <p>التسجيل</p>
  <div class="container" style="direction: rtl;">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>


    <div class="field">
      <%= f.text_field :fullname, autofocus: true, :class => "form-control validate text-right", :placeholder => "الإسم الكامل" %>
    </div>

    <div class="field">
      <%= f.text_field :email, :type => "email", autofocus: true, :class => "form-control validate text-right", :placeholder => "البريد الإلكتروني" %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> يجب أن تكون على الأقل 6)</em>
      <% end %>
      <%= f.text_field :password, :type => "password", autocomplete: "off", :class => "form-control validate text-right", :placeholder => "كلمة المرور" %>
    </div>

    <div class="field">
      <%= f.text_field :password_confirmation, :type => "password", autocomplete: "off", :class => "form-control validate text-right", :placeholder => "تأكيد كلمة المرور" %>
    </div>

    <div class="actions pull-right">
      <%= f.submit "التسجيل", :class => "btn btn-inverse" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>