<div class="row">
	<div class="col-md-2">
    <ul class="sidebar-list text-right">
      <li class="sidebar-item"><%= link_to "عقاراتك", properties_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "فواتيرك", bills_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "عملائك", residents_path, class: "sidebar-link" %></li>
    </ul>
  </div>
	<div class="col-md-10" style="direction: rtl;">
		<div class="panel panel-default">
			<div class="panel-heading">
				العقارات
			</div>

			<div class="panel-body">
				<% count = 1 %>
				<table id="example" class="table table-striped table-hover text-right table-bordered" cellspacing="0" width="100%">
					<thead>
								<tr>
									<th class="text-right">#</th>
									<th class="text-right">العنوان</th>
									<th class="text-right">المدينه</th>
									<th class="text-right">الدوله</th>
									<th class="text-right">نوع العقار</th>
									<th class="text-right">الإيجار الشهري</th>
									<th class="text-right">الحاله</th>
									<th class="text-right">رابط</th>
								</tr>
					</thead>
					<% @properties.each do |p| %>
					<tbody>
						<tr>
							<td><%= count %></td>
							<td><%= p.address %></td>
							<td><%= p.city %></td>
							<td><%= p.country %></td>
							<td><%= p.property_type %></td>
							<td><%= p.monthly_rent %></td>
							<td><% if p.vacancy %>
										<%= "شاغر" %>
									<% else %>
										<%= "غير شاغر" %>
									<% end %>
							</td>
							<td><%= link_to "صفحة العقار", edit_property_path(p) %></td>
						</tr>
					</tbody>
					<% count += 1 %>
					<% end %>
					</table>
					<div style="direction: ltr">
					<%= paginate @properties %> <!-- pagination part, you can put this anywhere -->
					</div>
			</div>
		</div>
	</div>
</div>