
<h1>
  <%= @property.address %>
</h1>
<p>
  lat:
  <%= @property.lat %>
</p>
<p>
  lng:
  <%= @property.lng %>
</p>
<!-- map div
-->
<div class="Flexible-container" id="map" ></div>
<script>
  
  $(document).ready(function(){
    var property = <%= raw @property.to_json %>    // pass ruby variable to javascript
    gmap_show(property);    // init show map for company card (only print marker)
  });

</script>
<%= link_to "تعديل" , edit_property_path(@property), :class => "btn btn-inverse" %>
