<!DOCTYPE html>
<html>
<head>

  <title>AqaraatV2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/navbar.html.erb" %>

<p class="notice">
	<%= notice %>
</p>
<p class="alert">
	<%= alert %>
</p>

<div class="container">
	<%= yield %>
</div>


<footer class="page-footer blue-grey lighten-5">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="right blue-grey-text text-darken-4">كُن على تواصل</h5>
				<p class="right blue-grey-text">You can use rows and columns here to organize your footer content.</p>
			</div>
		<div class="col l4 offset-l2 s12" align="right">
			<h5 class="blue-grey-text text-darken-4">روابط</h5>
			<ul>
				<li><a class="blue-grey-text" href="#!">الرئيسية</a></li>
				<li><a class="blue-grey-text" href="#!">عن الموقع</a></li>
				<li><a class="blue-grey-text" href="#!">المساعدة</a></li>
				<li><a class="blue-grey-text" href="#!">التواصل</a></li>
			</ul>
		</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container blue-grey-text">
		جميع الحقوق محفوظه © عقارات
		</div>
	</div>
</footer>

</body>
	<script>
		$(".button-collapse").sideNav();
		$(".dropdown-button").dropdown();
	</script>
</html>
