<!DOCTYPE html>
<html lang="ar">
	<head>
		<title>Aqaraat - V.2 - عقارات</title>
		<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
		<script src="//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry" type="text/javascript"></script>
		<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" type="text/javascript"></script>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>


	</head>

	<body>
	<%= render "shared/navbar" %>

		<% flash.each do |name, msg| %>
			<div class="alert alert-success text-right" style="direction: rtl;">
				<button type="button" class="close pull-left" data-dismiss="alert">×</button>
				<%= msg %>
			</div>
		<% end %>
	<div class="container">
		<%= yield %>
	</div>

		<%= render "shared/footer.html.erb" %>

	</body>

	<script>
		$(".button-collapse").sideNav();
		$(".dropdown-button").dropdown();

		$(function() {
		  // Setup drop down menu
		  $('.dropdown-toggle').dropdown();

		  // Fix input element click problem
		  $('.dropdown input, .dropdown label').click(function(e) {
		    e.stopPropagation();
		  });
		});

		j$(‘#dropdown-login’).click(function(e) {
		   e.stopPropagation();
		);
	</script>
</html>
